body {
    margin: 60px auto;
    width: 70%;
}

nav.mainmenu ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav.mainmenu ul li {
    float: left;
}

nav.mainmenu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
}

/* Change the link color to #111 (black) on hover */
nav.mainmenu ul li a:hover:not(.active) {
    background-color: rgb(128, 128, 128);
    text-decoration: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li a {
    text-decoration: none;
    color: #808080;
}
footer ul li a:hover {
    text-decoration: none;
    color: #000000;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

div.navigationInfo {
  font-size: 0.6em;
  color: #808080;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
